<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :begin_at %><br>
    <%= f.datetime_select :begin_at %>
  </div>
  <div class="field">
    <%= f.label :table_id %><br>
    <%= f.text_field :table_id %>
  </div>
  <div class="field">
    <%= f.label :guest_count %><br>
    <%= f.number_field :guest_count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
