<p id="notice"><%= notice %></p>

<p>
  <strong>Begin at:</strong>
  <%= @reservation.begin_at %>
</p>

<p>
  <strong>Table:</strong>
  <%= @reservation.table %>
</p>

<p>
  <strong>Guest count:</strong>
  <%= @reservation.guest_count %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
